%section.main_content
  %section.wrapper
    .button_pane.cf.mbot_10
      %a.btn.btn_grey.right{:href => products_path}
        %i.fa.fa-long-arrow-left
        Back
    %section.panel
      .panel_heading
        Edit
      = render :partial => 'form'